.wrapper
 .chat-side
  .chat-side__header
   .chat-side__header__box
    .chat-side__header__box__user-name
     kenji
    .chat-side__header__box__menu
     .chat-side__header__box__menu__new-group
      =fa_icon "edit"
     .chat-side__header__box__menu__edit-user
      =fa_icon "cog"
  .chat-side__group
   .chat-side__group__group-name
    グループ
   .chat-side__group__latest-message
    まだメッセージがありません
 .chat-main
  .chat-main__header
   .chat-main__header__left-box
    .chat-main__header__left-box__current-group
     グループ
    .chat-main__header__left-box__member-list
     Member:kenji
   .chat-main__header__edit-btn
    Edit
  .chat-main__messages
  .chat-main__form
   .chat-main__form__new_message
    .chat-main__form__new_message__input-box
     .chat-main__form__new_message__input-box__text
     .chat-main__form__new_message__input-box__image
      =fa_icon "image"
    .chat-main__form__new_message__submit-btn
     Send

